--langdef=INI
--langmap=INI:.ini
--regex-INI=/^[ \t]*\[(.*)\]/\1/b,block/
--regex-INI=/^[ \t]*([^\[=]+)=(.*)/\1/k,key/
--langdef=unrealscript
--langmap=unrealscript:.uc
--regex-unrealscript=/^[ \t]*[cC]lass[ \t]*([a-zA-Z0-9_]+)/\1/c,class/
--regex-unrealscript=/^[ \t]*[Ee]num[ \t]+.*[ \t]+([0-9-A-Za-z]+)$/\1/e,enum/
--regex-unrealscript=/^[ \t]*[Ss]truct[ \t]+.*[ \t]+([0-9-A-Za-z]+)$/\1/s,struct/
--regex-unrealscript=/^[ \t]*[sS]tate[() \t]*([a-zA-Z0-9]+)/\1/c,class/
--regex-unrealscript=/^[ \t]*var\(*[A-Za-z0-9]*\)*[ \t]+.*[\t ]+([A-Za-z0-9_]+);[ \t]*/\1/v,variable/
--regex-unrealscript=/^[ \t]*[cC]onst[ \t]+([a-zA-Z0-9<>_]*)[ \t]*([a-zA-Z0-9<>_]+)[ \t]*=[ \t]*[0-9A-ZA-z]+;/\2/d,define/
--regex-unrealscript=/[eE]vent[ \t]+([A-Za-z0-9_]+)\(/\1/f,function/
--regex-unrealscript=/[fF]unction[ \t]+([A-Za-z0-9_<>]*)[ \t]*([a-zA-Z0-9_]+)$/\2/f,function/
--regex-unrealscript=/[fF]unction[ \t]+([A-Za-z0-9_<>]*)[ \t]*([a-zA-Z0-9_]+)[ \t]*\(/\2/f,function/
--regex-unrealscript=/[fF]unction[ \t]+([A-Za-z0-9_<>]*)[ \t]*([a-zA-Z0-9_]+);/\2/f,function/
--exclude=*.vcproj
--exclude=*.sln
--exclude=*.ncb
--exclude=*.suo
--exclude=*.o
--exclude=*.obj
--exclude=.svn
--exclude=*.user
