--langdef=INI
--langmap=INI:.ini
--regex-INI=/^[ \t]*\[(.*)\]/\1/b,block/
--regex-INI=/^[ \t]*([^\[\=]+)=(.*)/\1/k,key/
--langdef=unrealscript
--langmap=unrealscript:.uc
--regex-unrealscript=/^[ \t]*[Cc]lass[ \t]+([a-zA-Z0-9_]+)/\1/c,class/
--regex-unrealscript=/^[ \t]*[Ss]tate[() \t]+([a-zA-Z0-9]+)/\1/s,state/
--regex-unrealscript=/^[ \t]*[Ss]imulated[ \t]*(.*)[ \t]+([a-zA-Z0-9_]+)\(/\2/i,simulated/
--regex-unrealscript=/^[ \t]*[Ee]vent[ \t]*[^ \t]*[ \t]+([a-zA-Z0-9_]+)\(/\1/e,event/
--regex-unrealscript=/^[ \t]*[Ff]unction[ \t]*(.*)[ \t]+([a-zA-Z0-9_]+)\(/\2/f,function/
--regex-unrealscript=/^[ \t]*[Ee]xec[ \t]*(.*)[ \t]+([a-zA-Z0-9_]+)\(/\2/x,exec/
--regex-unrealscript=/^[ \t]*[Ss]truct[ \t]*(.*)[ \t]+([a-zA-Z0-9_]+)/\2/t,struct/
--regex-unrealscript=/^[ \t]*[Ee]num[ \t]*(.*)[ \t]+([a-zA-Z0-9_]+)/\2/m,enum/
--regex-unrealscript=/^[ \t]*[Vv]ar.*[ \t]([a-zA-Z0-9_]+)[ \t]*;/\1/v,variable/
--regex-unrealscript=/^[ \t]*[Cc]onst[ \t]+([a-zA-Z0-9<>_]*)[ \t]*([a-zA-Z0-9<>_]+)[ \t]*=[ \t]*[0-9A-ZA-z]+;/\2/d,define/
--exclude=*.vcproj
--exclude=*.sln
--exclude=*.ncb
--exclude=*.suo
--exclude=*.o
--exclude=*.obj
--exclude=.svn
--exclude=*.user
--extra=+fq 
